<head>
<link rel="stylesheet" href="lesson3.css">
<title> My first html</title>
</head>


<body>

<div class="st" >
<p> Hello ! My name is... </p>
</div>


<div  id="y22">
<p> Hello  id="y22</p>
</div>

<p> Hello </p>

<strong> Hello 2 </strong>


<ul>
	<li> Spain </li>
	<li> Germany </li>
	<li> Belarus </li>
	<li> yyyyy </li>
	<li> rrrr </li>
	<li> ttttt </li>
	<li> uuuuu </li>
	<li> iiiiii </li>
	<li> Spain </li>
	<li> Germany </li>
	<li> Belarus </li>
	<li> yyyyy </li>
	<li> rrrr </li>
	<li> ttttt </li>
	<li> uuuuu </li>
	<li> iiiiii </li>
 
</ul>

<ol>
	<li> Gena </li>
	<li> Kim </li>
	<li> Kira </li>
	<li> Andrey </li>
	<li> Spain </li>
	<li> Germany </li>
	<li> Belarus </li>
	<li> yyyyy </li>
	<li> rrrr </li>
	<li> ttttt </li>
	<li> uuuuu </li>
	<li> iiiiii </li>
	<li> Spain </li>
 
</ol>
<div id="block" >
<div>
	Hello
</div>

</div>
</br>
<div id="block2" >_News _</div>
<br/>
<div id="parent" >
<div id="child" ></div>
</div>

<br/>

<div id="float"></div>
<p class="text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae animi quasi in. Quaerat, reprehenderit nesciunt culpa aut laborum, sit eveniet quas sed quis, totam suscipit mollitia ad veritatis? Non, rerum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. At facere neque non magnam veniam suscipit deleniti eius ipsum quisquam laborum? Necessitatibus, nostrum. Quas optio est earum, sint fugit officiis deleniti!	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem soluta debitis sunt iste a nostrum natus iusto. Possimus asperiores quo voluptatibus quae voluptatum ipsa aliquam? Accusamus, quo explicabo. Vitae, deserunt?
</p>


<div id="float-parent">
	<div id="float-child"></div>
</div>



</body>










