<head>
<link rel="stylesheet" type="text/css" href="lesson5.css">
<meta name="viewport" content="width=device-width">
<!-- <meta name="viewport" content="width=device-width; innitial-scale=1"> -->
<title> My first Home work!</title>
</head>


<body>


<H1>Leson5</H1>

<div class="content">

        <div class="dd1">
            <a  href="huawei.jpg">Link to phone</a>
    <br/>
            <a  class="link2">Just example</a>
            <p> Just example3 </p>
        </div>
        
        <div class="dd2">
           DD2
        </div>

        <div class="dd3_cat">
    
<svg height="50pt" viewBox="-4 0 457 457.50394" width="50pt" xmlns="http://www.w3.org/2000/svg"><path d="m146.492188 67.222656c-30.050782-54.660156-109.175782-68.863281-119.75-63.050781-8.648438 4.753906-40.980469 80.226563-10.933594 134.886719s71.511718 60.792968 107.597656 40.957031c36.085938-19.839844 53.132812-58.132813 23.085938-112.792969zm0 0" fill="#87796f"/><path d="m149.117188 65.777344c-16.671876-30.328125-46.570313-46.953125-68.714844-55.554688-24.855469-9.652344-48.550782-12.28125-55.105469-8.679687-5.878906 3.234375-16.144531 24.871093-21.46875 50.753906-4.863281 23.636719-7.183594 58.125 9.351563 88.210937 14.570312 26.503907 32.488281 43.265626 53.257812 49.828126 6.378906 2.011718 12.957031 3.015624 19.65625 3.015624 12.699219 0 25.824219-3.597656 38.757812-10.707031 19.757813-10.863281 32.828126-26.492187 37.796876-45.195312 5.589843-21.054688 1.039062-45.167969-13.53125-71.671875zm-27.15625 111.609375c-39.847657 21.90625-77.585938 7.410156-103.523438-39.769531-29.15625-53.042969 2.753906-126.871094 9.75-130.816407.96875-.53125 3.082031-.84375 6.113281-.84375 8.761719 0 25.207031 2.589844 43.925781 9.859375 17.375 6.75 49 22.589844 65.632813 52.855469 25.9375 47.179687 17.957031 86.804687-21.898437 108.714844zm0 0" fill="#3a312a"/><path d="m115.269531 78.097656c-16.910156-30.769531-61.449219-38.761718-67.398437-35.492187-4.867188 2.675781-23.0625 45.15625-6.152344 75.921875s40.25 34.214844 60.558594 23.050781c20.3125-11.164063 29.90625-32.71875 12.992187-63.480469zm0 0" fill="#f16c7a"/><path d="m117.902344 76.648438c-9.574219-17.414063-26.6875-26.9375-39.355469-31.859376-13.203125-5.128906-27.609375-7.289062-32.121094-4.8125-6.117187 3.363282-25.316406 47.292969-7.335937 79.996094 10.964844 19.949219 25.960937 30.414063 42.363281 30.414063 7.222656 0 14.722656-2.03125 22.273437-6.179688 24.671876-13.5625 29.96875-38.820312 14.175782-67.558593zm-17.070313 62.300781c-21.695312 11.925781-42.289062 3.960937-56.484375-21.867188-15.917968-28.957031 1.039063-68.773437 4.953125-71.839843.449219-.207032 1.324219-.320313 2.554688-.320313 10.4375 0 46.234375 8.144531 60.789062 34.617187 14.191407 25.828126 9.890625 47.480469-11.8125 59.410157zm0 0" fill="#3a312a"/><path d="m423.824219 4.171875c-5.476563-3.011719-29.351563-.628906-55.265625 9.941406l-25.527344 13.097657c-15.382812 9.804687-29.566406 22.933593-38.953125 40.011718-30.050781 54.660156-13.003906 92.957032 23.082031 112.792969 36.085938 19.835937 77.550782 13.707031 107.597656-40.957031 30.046876-54.660156-2.285156-130.132813-10.933593-134.886719zm0 0" fill="#87796f"/><path d="m446.738281 52.296875c-5.320312-25.882813-15.585937-47.519531-21.46875-50.753906-6.820312-3.75-32.25-.648438-57.847656 9.792969-1.535156.625-2.269531 2.375-1.644531 3.910156.628906 1.535156 2.375 2.273437 3.910156 1.644531 26.386719-10.765625 48.652344-12.316406 52.691406-10.09375 6.996094 3.949219 38.90625 77.773437 9.75 130.816406-13.800781 25.105469-30.558594 40.917969-49.808594 47-16.847656 5.324219-35.425781 2.824219-53.710937-7.230469-18.289063-10.050781-30.351563-24.394531-34.886719-41.476562-5.1875-19.511719-.8125-42.132812 12.984375-67.238281 8.285157-15.066407 21.046875-28.164063 37.941407-38.929688 1.394531-.886719 1.804687-2.746093.914062-4.140625-.890625-1.398437-2.746094-1.804687-4.140625-.917968-17.75 11.3125-31.199219 25.140624-39.96875 41.097656-14.570313 26.503906-19.121094 50.617187-13.53125 71.667968 4.96875 18.703126 18.039063 34.335938 37.796875 45.195313 12.9375 7.109375 26.054688 10.707031 38.757812 10.707031 6.699219 0 13.28125-1 19.652344-3.015625 20.773438-6.558593 38.691406-23.324219 53.261719-49.828125 16.53125-30.082031 14.207031-64.570312 9.347656-88.207031zm0 0" fill="#3a312a"/><path d="m402.691406 42.605469c-5.949218-3.269531-50.484375 4.722656-67.398437 35.492187-16.910157 30.765625-7.316407 52.316406 12.992187 63.480469 20.3125 11.164063 43.648438 7.714844 60.5625-23.050781 16.910156-30.765625-1.285156-73.246094-6.15625-75.921875zm0 0" fill="#f16c7a"/><path d="m404.140625 39.976562c-4.515625-2.476562-18.917969-.316406-32.121094 4.816407-12.671875 4.917969-29.78125 14.441406-39.355469 31.859375-15.796874 28.738281-10.496093 53.992187 14.175782 67.558594 7.480468 4.109374 15.078125 6.1875 22.441406 6.1875 3.90625 0 7.742188-.582032 11.464844-1.757813 12.023437-3.796875 22.363281-13.441406 30.730468-28.664063 17.976563-32.707031-1.21875-76.632812-7.335937-80zm2.078125 77.105469c-7.601562 13.824219-16.777344 22.515625-27.28125 25.832031-9.125 2.886719-19.234375 1.519532-29.207031-3.964843-21.703125-11.929688-26.003907-33.582031-11.808594-59.410157 14.601563-26.5625 50.59375-34.671874 60.800781-34.671874 1.164063 0 1.992188.105468 2.417969.300781 4.039063 3.140625 20.996094 42.957031 5.078125 71.914062zm0 0" fill="#3a312a"/><path d="m400.265625 162.746094c-19.460937-36.191406-47.800781-67.40625-81.675781-88.210938-12.09375-7.460937-24.921875-13.558594-38.289063-18.121094-17.484375-5.949218-35.949219-9.191406-55.019531-9.191406-19.074219 0-37.535156 3.242188-55.019531 9.191406-13.363281 4.5625-26.191407 10.660157-38.289063 18.121094-33.878906 20.804688-62.214844 52.019532-81.679687 88.210938-18.214844 33.828125-28.652344 71.972656-28.652344 110.066406 0 87.511719 55.929687 148.828125 133.730469 171.738281l28 6.414063c13.921875 2.332031 28.351562 3.539062 43.128906 3.539062 112.476562 0 202.417969-69.214844 202.417969-181.691406.003906-38.09375-10.433594-76.238281-28.652344-110.066406zm0 0" fill="#fce8cb"/><path d="m402.910156 161.328125c-20.242187-37.636719-48.855468-68.535156-82.742187-89.34375-12.355469-7.621094-25.441407-13.816406-38.898438-18.410156-36.476562-12.414063-75.496093-12.414063-111.976562 0-13.453125 4.589843-26.539063 10.785156-38.886719 18.402343-33.898438 20.820313-62.511719 51.71875-82.746094 89.347657-18.984375 35.246093-29.015625 73.796875-29.015625 111.488281 0 42.421875 13.265625 81.148438 38.363281 111.988281 23.746094 29.175781 57.46875 50.832031 97.523438 62.628907 1.585938.464843 3.257812-.441407 3.722656-2.03125.46875-1.589844-.4375-3.257813-2.027344-3.726563-38.890624-11.449219-71.589843-32.425781-94.566406-60.65625-24.21875-29.757813-37.015625-67.175781-37.015625-108.203125 0-36.703125 9.785157-74.269531 28.296875-108.640625 19.734375-36.707031 47.605469-66.816406 80.609375-87.082031 11.972657-7.386719 24.648438-13.386719 37.679688-17.832032 35.226562-11.988281 72.878906-11.988281 108.105469 0 13.03125 4.445313 25.707031 10.445313 37.6875 17.835938 32.992187 20.261719 60.867187 50.371094 80.605468 87.078125 18.511719 34.371094 28.296875 71.9375 28.296875 108.640625 0 105.210938-82.007812 178.691406-199.421875 178.691406-14.433594 0-28.773437-1.175781-42.632812-3.496094-1.640625-.28125-3.179688.828126-3.453125 2.460938-.273438 1.636719.832031 3.179688 2.460937 3.457031 14.1875 2.375 28.863282 3.578125 43.625 3.578125 56.613282 0 108.230469-17.539062 145.34375-49.390625 39.300782-33.730469 60.078125-80.515625 60.078125-135.300781-.003906-37.691406-10.035156-76.242188-29.015625-111.484375zm0 0" fill="#3a312a"/><path d="m225.359375 266.097656c-16.59375-.074218-30.082031 7.9375-30.125 17.894532-.042969 9.957031 13.339844 26.101562 29.933594 26.171874 16.59375.074219 30.117187-15.949218 30.160156-25.90625.042969-9.957031-13.371094-18.085937-29.96875-18.160156zm0 0" fill="#3a312a"/><path d="m225.28125 301.21875c0 21.4375-16.242188 39.046875-37.09375 41.21875.390625 25.828125 16.851562 46.582031 37.09375 46.582031s36.707031-20.753906 37.09375-46.582031c-20.851562-2.171875-37.09375-19.78125-37.09375-41.21875zm0 0" fill="#f16c7a"/><g fill="#3a312a"><path d="m262.6875 339.453125c-19.613281-2.042969-34.40625-18.480469-34.40625-38.234375 0-1.65625-1.34375-3-3-3s-3 1.34375-3 3c0 19.753906-14.789062 36.191406-34.402344 38.234375-1.542968.160156-2.714844 1.472656-2.691406 3.027344.421875 27.777343 18.035156 49.535156 40.09375 49.535156 22.0625 0 39.675781-21.757813 40.09375-49.535156.027344-1.554688-1.140625-2.867188-2.6875-3.027344zm-37.40625 46.5625c-17.753906 0-32.59375-18.148437-33.992188-40.976563 15.753907-2.636718 28.460938-13.390624 33.992188-27.679687 5.539062 14.289063 18.238281 25.042969 33.992188 27.679687-1.398438 22.828126-16.238282 40.976563-33.992188 40.976563zm0 0"/><path d="m225.28125 298.21875c-1.65625 0-3 1.34375-3 3 0 19.753906-14.789062 36.191406-34.445312 38.238281-1.25.148438-2.597657.222657-4.011719.222657-21.207031 0-38.460938-17.25-38.460938-38.460938 0-1.65625-1.34375-3-3-3s-3 1.34375-3 3c0 24.515625 19.945313 44.460938 44.460938 44.460938 1.648437 0 3.238281-.085938 4.675781-.257813 22.679688-2.363281 39.78125-21.363281 39.78125-44.203125 0-1.65625-1.34375-3-3-3zm0 0"/><path d="m308.203125 298.21875c-1.65625 0-3 1.34375-3 3 0 21.210938-17.253906 38.460938-38.460937 38.460938-1.414063 0-2.761719-.074219-4.054688-.226563-19.613281-2.042969-34.402344-18.476563-34.402344-38.234375 0-1.65625-1.34375-3-3-3s-3 1.34375-3 3c0 22.839844 17.105469 41.839844 39.738282 44.195312 1.480468.179688 3.070312.265626 4.71875.265626 24.515624 0 44.460937-19.945313 44.460937-44.460938 0-1.65625-1.34375-3-3-3zm0 0"/><path d="m161.871094 214.640625c-9.425782 0-17.070313 7.644531-17.070313 17.074219 0 9.425781 7.644531 17.070312 17.070313 17.070312 9.429687 0 17.074218-7.644531 17.074218-17.070312 0-9.429688-7.640624-17.074219-17.074218-17.074219zm0 0"/><path class="eye" d="m288.691406 214.640625c-9.425781 0-17.070312 7.644531-17.070312 17.074219 0 9.425781 7.644531 17.070312 17.070312 17.070312 9.429688 0 17.074219-7.644531 17.074219-17.070312-.003906-9.429688-7.644531-17.074219-17.074219-17.074219zm0 0"/><path d="m403.316406 292.980469h-70.507812c-1.65625 0-3 1.339843-3 3 0 1.65625 1.34375 3 3 3h70.507812c1.65625 0 3-1.34375 3-3 0-1.660157-1.34375-3-3-3zm0 0"/><path d="m391.253906 341.101562-59.992187-29.769531c-1.484375-.734375-3.285157-.132812-4.019531 1.355469-.738282 1.484375-.132813 3.28125 1.351562 4.019531l59.992188 29.765625c.429687.214844.878906.316406 1.332031.316406 1.101562 0 2.164062-.613281 2.6875-1.667968.738281-1.484375.132812-3.285156-1.351563-4.019532zm0 0"/><path d="m392.605469 246.839844c-.734375-1.484375-2.53125-2.09375-4.019531-1.355469l-59.992188 29.769531c-1.484375.734375-2.089844 2.535156-1.351562 4.019532.523437 1.054687 1.585937 1.667968 2.6875 1.667968.449218 0 .902343-.097656 1.332031-.3125l59.992187-29.769531c1.484375-.734375 2.089844-2.539063 1.351563-4.019531zm0 0"/><path d="m119.976562 292.980469h-70.511718c-1.652344 0-3 1.339843-3 3 0 1.65625 1.347656 3 3 3h70.511718c1.65625 0 3-1.34375 3-3 0-1.660157-1.34375-3-3-3zm0 0"/><path d="m125.539062 312.6875c-.734374-1.488281-2.53125-2.09375-4.019531-1.355469l-59.992187 29.769531c-1.484375.734376-2.089844 2.535157-1.351563 4.019532.523438 1.054687 1.585938 1.667968 2.6875 1.667968.449219 0 .902344-.101562 1.332031-.316406l59.992188-29.765625c1.484375-.734375 2.089844-2.535156 1.351562-4.019531zm0 0"/><path d="m124.1875 275.25-59.992188-29.765625c-1.484374-.738281-3.285156-.132813-4.019531 1.355469-.738281 1.480468-.132812 3.28125 1.351563 4.019531l59.992187 29.765625c.429688.214844.882813.316406 1.332031.316406 1.101563 0 2.164063-.613281 2.6875-1.667968.738282-1.484376.132813-3.285157-1.351562-4.023438zm0 0"/></g><path d="m280.304688 56.414062c-17.488282-5.949218-35.949219-9.191406-55.023438-9.191406-19.070312 0-37.53125 3.242188-55.019531 9.191406-1.511719 7.148438-2.289063 14.683594-2.289063 22.511719 0 44.460938 25.652344 119.503907 57.308594 119.503907s57.3125-75.042969 57.3125-119.503907c0-7.828125-.777344-15.363281-2.289062-22.511719zm0 0" fill="#87796f"/><path d="m283.238281 55.796875c-.21875-1.035156-.964843-1.878906-1.96875-2.21875-36.476562-12.414063-75.496093-12.414063-111.972656 0-1 .339844-1.75 1.183594-1.964844 2.21875-1.566406 7.394531-2.359375 15.175781-2.359375 23.128906 0 22.886719 6.683594 53.347657 17.027344 77.601563 12.347656 28.953125 27.722656 44.902344 43.285156 44.902344 15.566406 0 30.941406-15.949219 43.289063-44.902344 10.34375-24.253906 17.027343-54.714844 17.027343-77.601563-.007812-7.953125-.796874-15.734375-2.363281-23.128906zm-57.957031 139.632813c-28.925781 0-54.308594-72.613282-54.308594-116.503907 0-6.9375.632813-13.726562 1.886719-20.214843 34.210937-11.265626 70.636719-11.265626 104.847656 0 1.253907 6.488281 1.886719 13.277343 1.886719 20.214843 0 43.890625-25.382812 116.503907-54.3125 116.503907zm0 0" fill="#3a312a"/><path d="m145.605469 99.167969c-3.632813-9.121094-8.289063-17.414063-13.628907-24.632813-33.878906 20.804688-62.214843 52.019532-81.679687 88.210938 18.878906 27.828125 47.949219 41.925781 71.875 32.390625 29.410156-11.707031 39.898437-54.679688 23.433594-95.96875zm0 0" fill="#87796f"/><path d="m148.394531 98.058594c-3.652343-9.167969-8.367187-17.683594-14.007812-25.308594-.929688-1.25-2.65625-1.585938-3.980469-.769531-33.898438 20.816406-62.511719 51.714843-82.75 89.347656-.53125.984375-.46875 2.179687.160156 3.105469 15.859375 23.378906 37.828125 36.703125 58.523438 36.703125 5.800781 0 11.503906-1.046875 16.941406-3.210938 15.148438-6.035156 26.0625-19.871093 30.722656-38.964843 4.574219-18.730469 2.582032-40.359376-5.609375-60.902344zm-.21875 59.476562c-4.1875 17.15625-13.820312 29.519532-27.117187 34.8125-21.746094 8.671875-48.59375-3.285156-67.246094-29.789062 19.203125-35.097656 45.878906-64.058594 77.363281-83.988282 4.628907 6.625 8.535157 13.914063 11.644531 21.710938 7.734376 19.394531 9.636719 39.726562 5.355469 57.253906zm0 0" fill="#3a312a"/><path d="m318.589844 74.535156c-5.339844 7.21875-10 15.511719-13.632813 24.632813-16.460937 41.289062-5.972656 84.261719 23.4375 95.964843 23.925781 9.539063 52.996094-4.558593 71.871094-32.386718-19.460937-36.191406-47.800781-67.40625-81.675781-88.210938zm0 0" fill="#87796f"/><path d="m402.910156 161.328125c-20.238281-37.632813-48.851562-68.53125-82.75-89.347656-1.328125-.816407-3.054687-.480469-3.980468.769531-5.648438 7.636719-10.363282 16.152344-14.007813 25.304688-8.191406 20.546874-10.183594 42.171874-5.613281 60.902343 4.664062 19.09375 15.574218 32.933594 30.722656 38.964844 5.441406 2.164063 11.140625 3.210937 16.945312 3.210937 20.691407 0 42.664063-13.328124 58.523438-36.703124.625-.921876.6875-2.117188.160156-3.101563zm-73.40625 31.019531c-13.296875-5.292968-22.925781-17.65625-27.117187-34.8125-4.28125-17.527344-2.375-37.859375 5.359375-57.253906 3.101562-7.789062 7.011718-15.078125 11.640625-21.710938 31.480469 19.929688 58.160156 48.890626 77.363281 83.988282-18.648438 26.503906-45.492188 38.460937-67.246094 29.789062zm0 0" fill="#3a312a"/><path d="m277.703125 58.71875c-16.460937-5.417969-33.441406-8.238281-50.441406-8.4375 7.839843 1.519531 15.519531 3.578125 23.042969 6.140625 9.9375 3.398437 19.597656 7.636719 28.859374 12.65625-.320312-3.519531-.800781-6.976563-1.460937-10.359375zm0 0" fill="#695b51"/><path d="m288.582031 74.539062c6.378907 3.921876 12.5625 8.199219 18.519531 12.820313 2.179688-4.140625 4.582032-8.121094 7.203126-11.898437-9.660157-5.742188-19.761719-10.601563-30.121094-14.460938.621094 3.800781 1.039062 7.699219 1.238281 11.640625 1.0625.621094 2.121094 1.257813 3.160156 1.898437zm111.28125 93.941407c-5.519531 7.398437-11.660156 13.640625-18.160156 18.621093 11.078125 27.296876 17.21875 56.519532 17.21875 85.71875 0 6.878907-.339844 13.601563-1 20.160157h5.402344c1.636719 0 3 1.339843 3 3 0 1.660156-1.363281 3-3 3h-6.101563c-1.878906 14.199219-5.300781 27.578125-10.101562 40.078125l4.140625 2.042968c1.480469.738282 2.082031 2.539063 1.339843 4.019532-.519531 1.058594-1.578124 1.660156-2.679687 1.660156-.460937 0-.898437-.101562-1.339844-.300781l-3.699219-1.839844c-24.660156 57.960937-79.578124 95.78125-147.179687 106.621094 111.398437-4.523438 188.21875-76.621094 188.21875-178.441407 0-35.179687-9.019531-71.160156-26.058594-104.339843zm0 0" fill="#decaad"/><path d="m319.382812 78.558594c-2.761718 3.980468-5.28125 8.179687-7.519531 12.601562 23.640625 19.378906 43.578125 44.039063 58.398438 71.578125 3.28125 6.082031 6.300781 12.300781 9.042969 18.640625 6.257812-5.019531 12.179687-11.339844 17.4375-18.820312-19.199219-35.097656-45.878907-64.058594-77.359376-84zm0 0" fill="#695b51"/></svg>
  </div>

        </div>

<div class="sidebar">

        <ul>
                <li> <a href="https://www.google.com/" target="_blank">Google</a> </li>
                <li> Germany </li>
                <li> Belarus </li>
                <li> yyyyy </li>
                <li> rrrr </li>
                <li> ttttt </li>
 
      </ul>

    <img src="huawei.jpg" alt="HUAWEI PICTURE"/>
    
</div>

 

</body>


