<head>
<link rel="stylesheet" type="text/css" href="lesson6.css">
<meta name="viewport" content="width=device-width">
<!-- <meta name="viewport" content="width=device-width; innitial-scale=1"> -->
<title> My first Home work!</title>
</head>


<body>

    <div class="forma6">

    <form>

        <label for="text1">Hello this is input</label>
        <input type="text" id="text1" name="name" value="Name-Dmitry" disabled placeholder="rrrr">
        <br/>
        <label for="text2">Hello this is input</label>
        <input type="text" id="text2" name="lastname"   required  placeholder="Enter some parameters">
        <br/>
        <label for="text3">Hello this is input</label>
        <input type="text" id="text3" value="male" name="sex"    placeholder="Enter some parameters">
        <br/>
        <label for="text_data">Dirthday</label>
        <input type="text" id="text_data" value="male" name="birthday"    placeholder="Enter some parameters">
        <br/>
        <label for="text_number">Hello this is input number</label>
        <input type="number" id="text_number" value="Home!! " name="age"    placeholder="Enter some parameters">
    <br/>

        <input type="checkbox"   >
        <br/>


        <label for="ra">Hello this is 1</label> <input type="radio" id="ra" name="radio_my"  >
        <br/>
        <label for="rb">Hello this is 2</label> <input type="radio" id="rb" name="radio_my"  >
        <br/>
        <label for="rc">Hello this is 3</label> <input type="radio" id="rc" name="radio_my"  >
        <br/>
        <label for="rd">Hello this is 4</label> <input type="radio" id="rd" name="radio_my"  >
        <br/>
        <select>
            <option>House</option>
            <option>Bungallo</option>
            <option>Skysriper</option>
        </select>
        <br/>
    <!-- <button type="button" >Button</button> -->
    <br/>
    <button type="submit" >Button</button>

    </form>
 


    <div class="rectangle"></div>
    <div class="rectangle2"></div>
<!-- 
    <div class="rectangle3">
        <img src="grey-cat-kitten.jpg" height="100" >
    </div> -->

    <div class="class_cat_png">
            <img src="cat_png.png" height="100" >
        </div>
    


 <div class="center">

    <form>
        <div class="forma2">
            <div class="a1"><input type="text" id="text12" name="name"  placeholder="Enter Name"></div>
            <div class="a2"><input type="text" id="text13" name="phone"  placeholder="Enter Phone"></div>
        </div>


        <div class="forma2">
                <div class="a3"><input type="date" id="text14" name="data"  placeholder="Enter Data"></div>
                <div class="a4"><button type="submit">Button</button>
        </div>
    </form> 

</div>

<br/>



</div>

</body>


