<head>
<link rel="stylesheet" type="text/css" href="lesson7.css">
<meta name="viewport" content="width=device-width">
<!-- <meta name="viewport" content="width=device-width; innitial-scale=1"> -->
<title> My first Home work!</title>
</head>


<body>

 

    <div class="class_cat_png">
            <img src="cat_png.png" height="100" >
        </div>
    
 


 

</body>


