<head>
<link rel="stylesheet" href="lesson4.css">
<meta name="viewport" content="width=device-width">
<title> My first Home work!</title>
</head>


<body>


<div class="wrap" >

<div id="col-left" >

	<div class="avatar" >
	    <img src="huawei.jpg"/>
	</div>




	<p id="food">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut architecto repudiandae veniam accusamus.  </p>
	<ul>
			<li> Spain </li>
			<li> Germany </li>
			<li> Belarus </li>
			<li> yyyyy </li>
			<li> rrrr </li>
			<li> ttttt </li>
			<li> uuuuu </li>
			<li> iiiiii </li>
			<li> Spain </li>
			<li> Germany </li>
			<li> Belarus </li>
			<li> yyyyy </li>
			<li> rrrr </li>
			<li> ttttt </li>
			<li> uuuuu </li>
			<li> iiiiii </li>
		 
		</ul>
</div>

<div id="col-right" >

		<div class="title" >
			<div class="child" >
				<img src="huawei.jpg"/>
				<span> Profile</span>  	
			</div>
			<div class="line" >
					---------- 
			</div>

		</div>
	

	<div class="age">Hello, you need add your age:</div>
		<div class="clearfix">
                  <div class="lab"><label  >applied Amount</label></div>
    		      <div class="con"><input value="your age ??"  /> </div>
    	</div>

<div class="just_text_on_right"> 	
	Lorem ipsum do  eius facere tempora repella um distinctio illum voluptas maiores?
</div>
	
        <ul class="ulone">
			<li> Spain </li>
			<li> Germany </li>
			<li> Belarus </li>
			<li> yyyyy </li>
			<li> rrrr </li>
			<li> ttttt </li>
			<li> uuuuu </li>
			<li> iiiiii </li>
			<li> Spain </li>
			<li> Germany </li>
			<li> Belarus </li>
			<li> yyyyy </li>
			<li> rrrr </li>
			<li> ttttt </li>
			<li> uuuuu </li>
			<li> iiiiii </li>
		 
		</ul>
		
	
</div>





<div class="hotdog">
  <p>..rrr.</p>
  <p>..ttt.</p>
  <p class="mustard">..gggg.</p>
</div>

<a class="btn btn-danger">..iii.</a>
<a class="btn btn-success">.hhh..</a>
<div class="nice_girl"> Arlington, Va. — A source told CBS News black box data from Ethiopian Air flight 302, which crashed earlier this month just after takeoff, has given Federal Aviation Administration (FAA) officials a growing sense that the 737 Max's new anti-stall system was a factor. Investigators are looking at whether a sensor failure falsely activated the system, causing the pilots to lose control of the plane.</div>
<div class="nice_girl margin"> Hello How are you treangle sedrget rewtyg rert rtg retg rtg ertg ert ert er</div>
<br>

<table >
<tr>
	<td>dsfgs</td>
	<td>dfg</td>
	<td>sdfg</td>
	<td>sdfg</td>
</tr>
<tr>
	<td>rrrrr</td>
	<td>dfffffg</td>
	<td>vvvvv</td>
	<td>vvvvv</td>
</tr>
<tr>
	<td>rrrrr</td>
	<td>dfffffg</td>
	<td>vvvvv</td>
	<td>vvvvv</td>
</tr>

</table>
<a href="pageone.html">Go to Page 1</a>
<br/>
<!-- <a href="https://www.google.com/" target="_blank">Go to Google</a> -->
<a href="https://www.google.com/" >Go to Google</a>

<a href="lesson5.html" >Lesson 5</a>




</body>


